table {
  border-collapse: collapse;
  font-size: 1.2em;
  width: 90%;
  padding: 2%;
  margin: 0.55em;
}
th, td {
  text-align: center;
  padding: 8px;
}
tr:hover{background-color:#F8E9BB}
th {
  background-color: #6E3F19;
  color: #F5F5DC;
}
